/* Titre du systeme reco */
h1 {
    color : white !important;
    text-align: center;
}

h2, h3 { margin-bottom: 3rem !important; }

h3 {
    color : white !important;
    text-align: center;
}

/* Menu déroulant police */
.stSelectbox div {
    color : black !important
}

/* Couleur "choisis ton film" */

.stSelectbox label {
    color: white !important;
}

div [data-testid="stWidgetLabel"] p {
  color: white !important;
}

div[data-testid="stMarkdownContainer"]:empty {
    display: none;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    background-color: #0a1628;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 2rem;
}

section[data-testid="stMain"] {
    padding-top: 70px !important;
}

.navbar {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 950px;        /* même largeur que ton contenu */
    background: rgba(10, 22, 40, 0.75);
    backdrop-filter: blur(8px);
    border: 0.5px solid rgba(255,255,255,0.12);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 2rem;
}

div[data-testid="stSelectbox"] {
    width: 50% !important;
    margin: 0 auto !important;
}

div[data-testid="stButton"] {
    display: flex !important;
    justify-content: center !important;
}

[data-testid="stSidebar"] {
    display: none !important;
}